In [1]:
import time
from datetime import datetime, timedelta
import alpaca_trade_api as tradeapi
import numpy as np
import requests
from ta.trend import macd

In [2]:
base_url = "https://paper-api.alpaca.markets"
api_key_id = "PKAWDZ1B1UO4JS9EP373"
api_secret = "8NTlw1SuEPjpBQ0cPbwyNXEdJRklTe/HF7Rf90zE"

In [3]:
api = tradeapi.REST(
    base_url=base_url, key_id=api_key_id, secret_key=api_secret
)

In [4]:
session = requests.session()

In [15]:
minute_history = api.polygon.historic_agg(size="minute", symbol="GASL", limit=1000).df

In [16]:
minute_history

                           open    high     low   close  volume
timestamp
2019-12-10 11:45:00-05:00  7.18  7.1850  7.1701  7.1850    7956
2019-12-10 11:46:00-05:00  7.18  7.2000  7.1800  7.1900    8036
2019-12-10 11:47:00-05:00  7.19  7.2000  7.1900  7.2000    2786
2019-12-10 11:48:00-05:00  7.20  7.2000  7.1900  7.1900    9884
2019-12-10 11:49:00-05:00  7.19  7.1900  7.1900  7.1900     200
...                         ...     ...     ...     ...     ...
2019-12-12 15:47:00-05:00  7.96  7.9600  7.9415  7.9584   12094
2019-12-12 15:48:00-05:00  7.95  7.9700  7.9458  7.9700    7774
2019-12-12 15:49:00-05:00  7.96  7.9600  7.9599  7.9600    4058
2019-12-12 15:50:00-05:00  7.97  7.9792  7.9672  7.9700    4849
2019-12-12 15:51:00-05:00  7.97  7.9700  7.9600  7.9600    3596

[1000 rows x 5 columns]

In [17]:
hist = macd(minute_history["close"].dropna(),
     n_fast=12,
     n_slow=26)

In [18]:
print(hist)

timestamp
2019-12-10 11:45:00-05:00         NaN
2019-12-10 11:46:00-05:00         NaN
2019-12-10 11:47:00-05:00         NaN
2019-12-10 11:48:00-05:00         NaN
2019-12-10 11:49:00-05:00         NaN
                               ...
2019-12-12 15:47:00-05:00    0.001949
2019-12-12 15:48:00-05:00    0.000405
2019-12-12 15:49:00-05:00   -0.000011
2019-12-12 15:50:00-05:00   -0.001134
2019-12-12 15:51:00-05:00   -0.001204
Name: MACD_12_26, Length: 1000, dtype: float64

In [19]:
hist[-1]

-0.0012040706398268597

In [20]:
hist[-2]

-0.0011343936663656962

In [21]:
hist[-3]

-1.0778421455803766e-05